[Unit]
Description=mastobot-mancer
After=network.target

[Service]
Type=simple
User=<specify user here>
ExecStart=/usr/bin/node <path to your compiled mancerbot>
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target